html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* =======================================================
   Estilos Personalizados Fer
   ======================================================= */
   body{
    font-family: 'DM Sans', sans-serif;
     -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
   h1,h2,h3,h4,h5,h6,p{ margin: 0; padding: 0; }
   .fix-h{
        width: 100%;
        position: fixed;
        z-index: 999;
    }
   .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        height: 70px;
        background: #fff;
        border-bottom: 1px solid #EAECF0;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.03);
   }

   .center-header{
        width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*justify-content: left;*/
        align-items: center;
        flex: 0.9;  
   }
   .box-element{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
   }
   .menu-header {
        height: auto;
        float: right;
        margin-left: 100px;
    }
    .set-margen{
        margin-left: 0px!important;
    }

    .menu-header ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-header li{
        position: relative;
        display: inline-block;
    }

    .menu-header li a{
        display: block;
        color: #1F2E51;
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        text-decoration: none;
        font-size: 16px;
        padding-right: 45px;
        transition: all .3s;
    }
    .set-margen li a{
        padding-right: 30px;
    }

    .menu-header a:hover{
        color: #2970FF!important;
    }
    .cta-header{
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }
    .btn-inscripcion{
        background-color:#2970FF;
        border-radius: 100px;
    }
    .btn-inscripcion a {
        font-weight: 700!important;
        padding-right: 0px!important;
        padding: 14px;
        padding-right: 12px!important;
        border-radius: 100px!important;
        /* overflow: hidden; */
        color: #fff!important;
        padding-right: 16px!important;
        padding-left: 16px!important;
    }
    .btn-inscripcion a:hover{
        border-radius: 100px;
        color: #303236!important;
        background-color: #84F5B1!important;
    }

   .wrapper{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /*background-color: red;*/
   }
  
   .center-wrapper {
        width: 70vh;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        /*align-items: center;*/
        /*background-color: blue;*/
        flex: 0.9;
        padding-top: 40px;
        padding-bottom: 140px;
        gap: 32px;
    }
    .box-hero{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* justify-content: left; */
        /* align-items: center; */
        gap: 70px;
        margin-top: 130px 
    }
    .box-personas{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .person {
        width: 540px;
        margin-top: -35px;
    }

    .ring {
        position: relative;
        width: 480px;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -10px;
        z-index: -1;
        margin-left: -35px;
    }
    .ring i {
      position: absolute;
      inset: 0;
      border: 2px solid #EFF4FF;
      transition: 0.5s;
    }
    .ring i:nth-child(1) {
      border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
      animation: animate 6s linear infinite;
    }
    .ring i:nth-child(2) {
      border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
      animation: animate 4s linear infinite;
    }
    .ring i:nth-child(3) {
      border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
      animation: animate2 10s linear infinite;
    }
    /*.ring:hover i {
      border: 6px solid var(--clr);
      filter: drop-shadow(0 0 20px var(--clr));
    }*/
    @keyframes animate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes animate2 {
      0% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    .hero{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        width: 50%;
    }
    .hero h1{
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        text-decoration: none;
        /*font-size: 65px;*/
        font-size: 4rem;
        color:#232528;
        line-height: 120%; /* 78px */
        letter-spacing: -2.6px;
        /*width: 50vw;*/
        /*width: 40vw;*/
        /*width: 690px;*/
    }
    .hero span{
        color: #2970FF;
    }
    .hero p{
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        text-decoration: none;
        /*font-size: 20px;*/
        font-size: 1.3rem;
        color:#232528;
        line-height: 160%; /* 32px */
        letter-spacing: -0.4px;
        /*width: 48vw;*/
        /*width: 690px;*/
    }
    .ui-plai{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        z-index: 99;
    }

/*@keyframes show{
    from{
        margin-top: 85vh;
       
    }
    to{
        margin-top: -205vh;

    }
}*/

@keyframes show{
    from{
        margin-top: 47vw;
       
    }
    to{
        margin-top: -112vw;

    }
}

    .box-agentes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*justify-content: left;*/
        align-items: center;
        /*flex: 0.9; */
        width: 100%;
        height: 789px;
        border-radius: 32px;
        background: linear-gradient(0deg, rgba(208, 194, 255, 0.23) -3.78%, rgba(217, 217, 217, 0.00) 95.65%);
        gap: 90px;
        height: 790px;

        /*MOMENTANEO*/
        
    }
    .box-info{
        width: 815px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        padding-left: 5vw;

        /*MOMENTANEO*/
        
    }
    .chip{
        display: flex;
        padding: 12px 16px;
        flex-direction: column;
        align-items: center;
        border-radius: 24px;
        border: 1px solid var(--Gray-200, #EAECF0);
    }
    .chip p {
        font-family: 'DM Mono', monospace!important;
        font-weight: 500;
        text-decoration: none;
        /*font-size: 12px!important;*/
        font-size: 0.8rem!important;
        color: #232528;
        width: auto!important;
        margin-top: 0px!important;
    }
    .box-info h1{
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        text-decoration: none;
        /*font-size: 40px;*/
        font-size: 2.2rem;
        color:#232528;
        line-height: 120%; /* 78px */
    }
    .box-info p{
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        text-decoration: none;
        /*font-size: 20px;*/
        font-size: 1.2rem;
        color:#232528;
        line-height: 160%; /* 32px */
    }
    .box-ui-agentes{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 41px;
        /*margin-right: -30px;*/
        /*margin-top: 10vh*/

        view-timeline-name: --image;
        view-timeline-axis_block;

        animation-timeline: --image;
        animation-duration: 3000ms;
        animation-name:show;
        

        animation-range: entry 60% cover 225%;
        animation-fill-mode: both;


    }

    .box-funcionalidades{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        /*margin-left: 5vh;*/
        margin-top: 40px;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 95%, rgba(252,252,252,0) 100%);
    }
    .box-title{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .box-title p{
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        text-decoration: none;
        /*font-size: 20px;*/
        font-size: 1.2rem;
        color: #232528;
        line-height: 160%;
        letter-spacing: -0.4px;
        width: 25vw;
        margin-top: 24px;
    }
    .box-title h1{
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        text-decoration: none;
        /*font-size: 40px;*/
        font-size: 2.5rem;
        color:#232528;
        line-height: 120%; /* 78px */
    }
    .size{font-weight: 400!important; font-size: 2.4rem!important;}
    /*.box-list-funcionalidades{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 27px;
    }*/
      /*.colum{
        display: flex;
        align-items: flex-start;
        gap: 17px;
    }*/


    .box-list-funcionalidades{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* justify-content: left; */
        align-items: center;
        gap: 17px;
    }
    .colum{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 27px;
    }
    .colum2{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 27px;
    }

    /*[data-aos="new-animation"] {
      margin-top: 400px;
      transition-property: transform, opacity, margin-top;

      &.aos-animate {
        margin-top: 0px;
      }

    }*/

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "n"; }
  2.2791%, 25.0698% { content: "ne"; }
  3.4186%, 23.9302% { content: "neg"; }
  4.5581%, 22.7907% { content: "nego"; }
  5.6977%, 21.6512% { content: "negoc"; }
  6.8372%, 20.5116% { content: "negoci"; }
  7.9767%, 19.3721% { content: "negocio"; }
  9.1163%, 18.2326% { content: "negocio."; }
  /*10.2558%, 17.0930% { content: "developer"; }*/

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "e"; }
  33.0465%, 49.0000% { content: "eq"; }
  34.1860%, 47.8605% { content: "equ"; }
  35.3256%, 46.7209% { content: "equi"; }
  36.4651%, 45.5814% { content: "equip"; }
  37.6047%, 44.4419% { content: "equipo"; }
  37.6047%, 44.4419% { content: "equipo."; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "o"; }
  56.9767%, 72.9302% { content: "op"; }
  58.1163%, 71.7907% { content: "ope"; }
  59.2558%, 70.6512% { content: "oper"; }
  60.3953%, 69.5116% { content: "opera"; }
  61.5349%, 68.3721% { content: "operac"; }
  61.5349%, 68.3721% { content: "operaci"; }
  61.5349%, 68.3721% { content: "operació"; }
  61.5349%, 68.3721% { content: "operación"; }
  61.5349%, 68.3721% { content: "operación."; }

  78.6279%, 96.8605% { content: ""; }
  79.7674%, 95.7209% { content: "d"; }
  80.9070%, 94.5814% { content: "dí"; }
  82.0465%, 93.4419% { content: "día"; }
  83.1860%, 92.3023% { content: "día."; }
  /*84.3256%, 91.1628% { content: "human"; }*/
}


.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "negocio"; }
    25% { content: "equipo"; }
    50% { content: "operación"; }
    75% { content: "dia"; }
  }

  .typewriter::before {
    content: "negocio";
    animation: sequencePopup 12s ease-in-out infinite;
  }
}

/**/

/*Animación al scroll con css*/
.colum .item img{
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}
.colum2 .item img{
    animation: reveal2 linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}
.alig-right{
    animation: reveal3 linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

@keyframes reveal {
    from {
        scale: 0.8;
        opacity: 0;
        translate: 0 100px;
    }
    to {
        opacity: 1;
        scale: 1;
    }
    
}

@keyframes reveal2 {
    from {
        scale: 0.8;
        opacity: 0;
        translate: 0 300px;
    }
    to {
        opacity: 1;
        scale: 1;
    }  
}
@keyframes reveal3 {
    from {
        scale: 0.8;
        opacity: 0;
        translate: 0 100px;
    }
    to {
        opacity: 1;
        scale: 1;
    }  
}

.box-form{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0px;
    margin-top: 40px;
}
.box-form-ui {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 55vw;
}
.alig-right {
    display: inline-flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

/* Estrutura */
.input-container {
  position: relative;
  margin-bottom: 32px;
}
form{
    width: 100%;
}

input {
  border: 0;
  border-bottom: 1px solid #E3E4E5;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

label {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    line-height: 160%;
    letter-spacing: -0.4px;
  top: 0;
  left: 0; right: 0;
  color: #232528;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

input,
label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}

/* Interation */
input:valid,
input:focus {
  border-bottom: 1px solid #2970FF;  
}

input:valid + label,
input:focus + label {
  color: #232528;
  font-size: .8rem;
  top: -30px;
  pointer-events: none;
}

.btn-envia{ margin-top: 50px; }
.btn-envia a {
    width: 120px;
    background-color:#2970FF;
    border-radius: 100px;

    text-decoration: none;
    font-weight: 700!important;
    padding-right: 0px!important;
    padding: 14px;
    padding-right: 12px!important;
    border-radius: 100px!important;
    /* overflow: hidden; */
    color: #fff!important;
    padding-right: 16px!important;
    padding-left: 16px!important;
}
.btn-envia a:hover{
    border-radius: 100px;
    color: #303236!important;
    background-color: #84F5B1!important;
}
.footer{
    width: 100%;
    height: 330px;
    background-color: #232528;

    /*animation: reveal4 linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;*/
}

@keyframes reveal4 {
    from {
        background-color: #fff;
    }
    to {
        background-color: #232528;
    }  
}

.box-list-funcionalidades-v2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.feature-list-1{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.feature-list-2{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.box-grid-plai{
    display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 24px;
  grid-template-areas:
      "item1 item2 item2"
      "item3 item4 item5"
      "item6 item6 item5";
}
/*.item{
      background-color: #1EAAFC;
      background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      color: #fff;
      border-radius: 4px;
      border: 6px solid #171717;
}*/

.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}












 



   
















